<?xml version="1.0"?>
<configuration>
   <WY_PROJ_BLENDER_EDITOR>
      <Blender setup>
            <name="2.79" value="true " description="folder"/>
            <name="bpy.pyd" value="true " description="file"/>
            <name="OpenColorIO.dll" value="true " description="file"/>
            <name="OpenAL32.dll" value="true " description="file"/>
            <name="avcodec-57.dll" value="true " description="file"/>
            <name="avdevice-57.dll" value="true " description="file"/>
            <name="avformat-57.dll" value="true " description="folder"/>
            <name="avutil-55.dll" value="true " description="file"/>
            <name="BlendThumb64.dll" value="true " description="file"/>
            <name="pthreadVC2.dll" value="true " description="file"/>
            <name="python36.dll" value="true " description="file"/>
            <name="SDL2.dll" value="false" description="file"/>
            <name="swresample-2.dll" value="true " description="file"/>
            <name="swscale-4.dll" value="true " description="file"/>
      </Blender setup>
   </WY_PROJ_BLENDER_EDITOR>
</configuration>
